.button {
  width: 160px;
  height: 40px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  background-color: #37a000;
  color: #fff;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: #37a000;
    border: 1px solid #37a000;
  }
}
