.wrapper {
  margin: 64px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: bold;
  font-size: 19px;
}

.button {
  
}

.content {
  margin-top: 24px;
}
